body {
  background: rgb(82,193,244);
  color: rgb(12,105,187);
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#navbar .navbar-brand {
  font-size: 1.5rem;
  font-weight: 150;
  color: rgb(12,105,187);
}

.buffer {
  height: 100px;
}
